{% extends "no_nav_base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<style>
#captcha_imgs {
  padding: 5px;
  background-color: #223344;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#captcha_imgs > img {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  cursor: grab;
}

#captcha_imgs > img:hover, .img-chosen {
  border-color: white;
}

.chosen {
  border-color: white !important;
  border-width: 2 !important;
}

</style>

<div class="col-lg-10 col-sm-12 m-auto">
    <div class="row">
      <div class="col-md-12">
        <form method="post" action="" id="registerForm">
          <fieldset>
            <h1> 4R3 Y0U 4 B07? </h1>
            {{ form.csrf_token }}
            {{ render_field(form.answer) }}
          </fieldset>
          <div id="captcha_imgs">
            {% for piece in form.pieces %}
              <img src="data:image/png;base64, {{ piece.img_base64 }}" index="{{ loop.index }}" alt="" srcset="">
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary narrow" id="submit">
            Mama Im not bot(((
          </button>
          {% for img in form.imgs %}
        {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js" integrity="sha512-5x7t0fTAVo9dpfbp3WtE2N6bfipUwk7siViWncdDoSz2KwOqVC1N9fDxEOzk0vTThOua/mglfF8NO7uVDLRC8Q==" crossorigin="anonymous"></script>
<script>
  let captcha_imgs = document.getElementById("captcha_imgs");
  let sortable = new Sortable(captcha_imgs, {
    delay: false,
    easing: "cubic-bezier(1, 0, 0, 1)",
    animation: 200,
    chosenClass: "chosen"
  });

  let submit_bnt = document.getElementById("submit");
  submit_bnt.onclick = () => {
    let answer_str = "";
    for (let img of document.querySelectorAll("#captcha_imgs>img")) {
      answer_str += (+img.attributes.index.value - 1);
      answer_str += ' ';
    }

    document.getElementById("answer").value = answer_str;
  };
</script>
{% endblock %}